
.WordGridCell {
    background-color: #fec4db;
    padding: 20px;
}

.WordGridCellHighlighted {
    background-color: #fc7daf;
    padding: 20px;
}

.WordGridCellConfirmed {
    background-color: #d6b6ff;
    padding: 20px;
}

.WordSearchGrid{
    display: flex;
    justify-content: center; 
}